body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5c9e8f;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #cb8d09;
    padding: 1rem 0;
    text-align: center;
}


.team-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

.profile {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 280px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.profile:hover {
    transform: scale(1.05);
}

.profile img {
    width: 100%;
    height: auto;
}

.profile h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.profile p {
    padding: 0 1rem 1rem;
    color: #555;
}


.contact-section {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px; 
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.form-content {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
}


.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"] 
input[type="password"] 
 {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5c9e8f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4a8270;
}


.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slideshow-container img {
    position: absolute;
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    object-fit: cover; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
    top: 50%; 
    transform: translateY(-50%); 
}
#search-bar {
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
}

.profile {
    display: block; 
}